@charset "utf-8";

/**
 * Presentation.js helper style.
 * @version: 1.0
 * @author: Noritaka Horio<holy.shared.design@gmail.com>
 * @licence: public domain
 */

/* Status Helper
-----------------------------------------------------*/

.status {
	position: fixed;
	right: 1%;
	bottom: 5%;
}

.status .current {
	font-size: 230%;
}

.status .total {
	font-size: 108%;
}


/* Controller Helper
-----------------------------------------------------*/
.controller {
	font-size: 108%;
	position: fixed;
	top: 85%;
	left: 50%;
	margin-left: -12%;
	width: 28%;
	text-align: center;
}

.controller button {
	border-radius: 100%;
	-webkit-border-radius: 100%;
	padding: 2.6% 1.4%;
	margin: 0px 1.4%;
	background-color: #000000;
	display: inline-block;
	color: #FFFFFF;
	border: 2px solid #FFFFFF;
	background: #4971A0;
	background: -moz-linear-gradient(
	center bottom,
	     #000000 0%,
	     #666666 80%,
	     #666666 100%
	);
	background: -webkit-gradient(
	     linear,
	     left 80%,
	     left top,
	     color-stop(0, #000000),
	     color-stop(1, #666666),
	     color-stop(1, #666666)
	);
}

.controller button:hover {
	color: #FFFF00;
	cursor: pointer;
}
