@charset "utf-8";

*[data-presentation-role="container"] {
	width: 120px;
	overflow: hidden;
	position: relative;
	margin: 0px auto;
	padding: 0px;
	display: block;
	border: 1px solid #cccccc;
	height: 100px;
}

*[data-presentation-role="content"] {
	width: 100px;
	height: 100px;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transition: left 0.6s cubic-bezier(0.85, 0, 0.15, 1);
	-moz-transition: left 0.6s cubic-bezier(0.85, 0, 0.15, 1);
	-webkit-transition: left 0.6s cubic-bezier(0.85, 0, 0.15, 1);
	-o-transition: left 0.6s cubic-bezier(0.85, 0, 0.15, 1);
	-ms-transition: left 0.6s cubic-bezier(0.85, 0, 0.15, 1);
	background: #cccccc;
	padding: 10px;
}
