@charset "utf-8";

.header h1 {
	font-size: 108%;
	line-height: 100%;
	padding-left: 15px;
}

.content {
	position: absolute;
	width: 94%;
	padding: 0px 3% 0px 3%;
	margin: 0px 0px 0px -50%;
	left: 50%;
	-moz-transition: left 0.3s cubic-bezier(0.85, 0, 0.15, 1);
	-webkit-transition: left 0.3s cubic-bezier(0.85, 0, 0.15, 1);
	-o-transition: left 0.3s cubic-bezier(0.85, 0, 0.15, 1);
	-ms-transition: left 0.3s cubic-bezier(0.85, 0, 0.15, 1);
	transition: left 0.3s cubic-bezier(0.85, 0, 0.15, 1);
	background: #ffffff;
}

.content:first-child {
	left: 50%;
}

.content hgroup {
	margin: 5% 0px 30px 0px;
}


.helper-plugin {
	background: #ffffff url(../images/bgi_helper.jpg) no-repeat 90% 70%;
}

.contents-filter {
	background: #ffffff url(../images/bgi_filter.jpg) no-repeat 90% 70%;
}

.bootstrap {
	background: #ffffff url(../images/bgi_bootstrap.jpg) no-repeat 90% 70%;
}

.specList {
	border-collapse: collapse;
}

.specList th,
.specList td {
	border: 1px solid #cccccc;
	padding: 5px 10px;
}

.specList th {
	font-weight: bold;
	background-color: #eeeeee;
}

.total th,
.total td {
	border: 2px solid #dd0000;
}

.size {
	text-align: right;
}


.footer p {
	font-size: 108%;
}

.copyright {
	text-align: right;
	margin-bottom: 0px;
	margin-right: 1%;
}

.copyright a {
	color: #F9A200;
}

.copyright a:hover {
	color: #FFFF00;
}