@charset "utf-8";

.helper-plugin {
	background: #ffffff url(../images/bgi_helper.jpg) no-repeat 90% 70%;
}

.contents-filter {
	background: #ffffff url(../images/bgi_filter.jpg) no-repeat 90% 70%;
}

.bootstrap {
	background: #ffffff url(../images/bgi_bootstrap.jpg) no-repeat 90% 70%;
}
