@charset "utf-8";

/**
 * Presentation.js helper style.
 * @version: 1.0
 * @author: Noritaka Horio<holy.shared.design@gmail.com>
 * @licence: public domain
 */

/* Theme changer
-----------------------------------------------------*/
.themes {
    float: right;
    font-size: 108%;
    line-height: 100%;
    overflow: hidden;
    margin-bottom: 0px;
    margin-right: 15px;
    padding-top: 10px;
    width: 272px;
}

.themes li {
    list-style: none;
    padding-left: 0px;
    margin-left: 0px;
}

.themes li a {
    border-left: 1px solid #222222;
    background: #444444;
    display: block;
    float: left;
    padding: 10px 10px;
    text-decoration: none;
    width: 70px;
    text-align: center;
    color: #ffffff;
}

.themes li a:hover,
.themes li a.selected {
/*    font-weight: bold;*/
    background: #FF8000;
}

.themes li:first-child a {
    border-left: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.themes li:last-child a {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


/* Controller
-----------------------------------------------------*/

.controller {
    top: 50%;
    position: fixed;
    height: 150px;
    margin-top: -75px;
    width: 100%;
}

.controller button {
    width: 40px;
    height: 150px;
    display: block;
    border: none;
    cursor: pointer;
    background-color: #222222;
    background-repeat: no-repeat;
    text-indent: -9999px;
}

.controller button:hover {
    background-color: #FF8000;
}

.controller button.disabled,
.controller button.disabled:hover {
    background-color: #cccccc;
}


.controller button:first-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 0px 5px #666666;
    background-image: url(images/img_prev_button.gif);
    background-position: 13px 50%;
    position: absolute;
    left: 0px;
}

.controller button:last-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0px 0px 5px #666666;
    background-image: url(images/img_next_button.gif);
    background-position: 13px 50%;
    position: absolute;
    right: 0px;
}

.controller button:first-child:hover {
    background-image: url(images/img_prev_button_hover.gif);
}

.controller button:last-child:hover {
    background-image: url(images/img_next_button_hover.gif);
}

.controller button.disabled:first-child {
    background-image: url(images/img_prev_button_disabled.gif);
}

.controller button.disabled:last-child {
    background-image: url(images/img_next_button_disabled.gif);
}




/* Page
-----------------------------------------------------*/

.page {
	position: fixed;
    text-align: center; 
    bottom: 65px;
    width: 100%;
}

.page .current {
    font-size: 230%;
}

.page .total {
    font-size: 108%;
}
