@charset "utf-8";

.presentation .header,
.presentation .footer {
	color: #ffffff;
	background: #222222;
}

.presentation .header {
	width: 100%;
	position: fixed;
	z-index: 1;
	left: 0px;
	top: 0px;
	padding: 0px 0px 10px 0px;
	overflow: hidden;

}

.presentation .footer {
	width: 100%;
	position: fixed;
	z-index: 1;
	left: 0px;
	bottom: 0px;
	padding: 15px 0px 15px 0px;
}

.presentation .container {
	width: 100%;
	overflow: hidden;
	position: relative;
	background: #ffffff;
}
