@charset "utf-8";

/*
.presentation .header,
.presentation .footer {
	color: #ffffff;
	background: #222222;
}
*/

.presentation .header {
	width: 98%;
	position: fixed;
	z-index: 1;
	left: 1%;
	top: 0px;
	padding: 15px 0px 0px 0px;
	overflow: hidden;
	border-bottom: 1px solid #cccccc;
}

.presentation .footer {
	width: 98%;
	position: fixed;
	z-index: 1;
	left: 1%;
	bottom: 0px;
	padding: 15px 0px 15px 0px;
	border-top: 1px solid #cccccc;
}

.presentation .container {
    width: 100%;
    overflow: hidden;
    position: relative;
    background: #ffffff;
}
