@charset "utf-8";

/* Status Helper
-----------------------------------------------------*/

.page {
	position: fixed;
	right: 1%;
	bottom: 65px;
	color: #cccccc;
}

.page .current {
	font-size: 230%;
}

.page .total {
	font-size: 108%;
}


/* Controller Helper
-----------------------------------------------------*/
.controller {
	font-size: 127%;
	position: fixed;
	bottom: 65px;
	left: 50%;
	margin-left: -12%;
	width: 28%;
	text-align: center;
}

.controller button {
	border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 1.6% 6%;
	margin: 0px 1.4%;
	background-color: #000000;
	display: inline-block;
	color: #FFFFFF;
	border: 2px solid #FFFFFF;
	background: #4971A0;
	background: -moz-linear-gradient(
	center bottom,
		#000000 0%,
		#666666 80%,
		#666666 100%
	);
	background: -webkit-gradient(
		linear,
		left 80%,
		left top,
		color-stop(0, #000000),
		color-stop(1, #666666),
		color-stop(1, #666666)
	);
}

.controller button:hover {
	color: #FFFF00;
	cursor: pointer;
}
