@charset "utf-8";

/**
 * Presentation.js default style.
 * @version: 1.0
 * @author: Noritaka Horio<holy.shared.design@gmail.com>
 * @licence: public domain
 */

/* Elements
----------------------------------------*/

/* Reset
--------------------------*/




/* Contents
----------------------------------------*/
.copyright {
	text-align: right;
	margin-bottom: 0px;
	margin-right: 1%;
}

.copyright a {
	color: #F9A200;
}

.copyright a:hover {
	color: #FFFF00;
}


/* Slide
----------------------------------------*/

/* Slide Header
--------------------------*/
.presentation header {
	width: 100%;
	position: fixed;
	z-index: 1;
	left: 0px;
	top: 0px;
	padding: 15px 0px 15px 1%;
}

.presentation header h1 {
	font-size: 108%;
	line-height: 100%;
}

/* Slide Footer
--------------------------*/
.presentation footer {
	width: 100%;
	position: fixed;
	z-index: 1;
	left: 0px;
	bottom: 0px;
	padding: 15px 1% 15px 0px;
}

.presentation footer p {
	font-size: 108%;
}


/* Slide Container
--------------------------*/
.container {
	width: 100%;
	overflow: hidden;
	position: relative;
	background: #ffffff;
}

/* Slide Content
--------------------------*/
.content {
	position: absolute;
	width: 94%;
	padding: 0px 3% 0px 3%;
	margin: 0px 0px 0px -50%;
	left: 50%;
	transition: left 0.3s cubic-bezier(0.85, 0, 0.15, 1);
	-moz-transition: left 0.3s cubic-bezier(0.85, 0, 0.15, 1);
	-webkit-transition: left 0.3s cubic-bezier(0.85, 0, 0.15, 1);
	-o-transition: left 0.3s cubic-bezier(0.85, 0, 0.15, 1);
	-ms-transition: left 0.3s cubic-bezier(0.85, 0, 0.15, 1);
	background: #ffffff;
}

.content hgroup {
	margin: 5% 0px 30px 0px;
}

/*
.control {
	position: absolute;
	z-index: 1;
	top: 80%;
}
*/